.center {
    display: flex;
    flex-direction:column;
    background-color: #f9fafb;
}

.Login_Nav {
    display: flex;
    max-width: 900px;
    margin: auto;
    gap: 150px;
    font-family: "Roboto", sans-serif;
}

/*logo*/

.Site_Logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .Site_Logo a {
        display: flex;
        justify-content: center;
        cursor: pointer;
        color: black;
        text-decoration: none;
        background-color: #D1D9E6;
        box-shadow: 7px 7px rgba(255, 255, 255, 0.900);
        border-radius: 5px;
        padding: 5px;
    }

    .Site_Logo p {
        font-size: 40px;
        color: black;
        font-family: "Libre Franklin", sans-serif;
    }

/*Login Background*/

.Login_Back {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    width: 350px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.200);
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}

/*Login input*/

.Login_Input {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 15px;
}

    .Login_Input input {
        border-radius: 5px;
        border: 1px lightgray solid;
        padding: 15px;
    }

#Confirm {
    display: none;
}

/*Login btns*/
.Login_btns {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 15px 15px 15px;
}

    .Login_btns button {
        border: none;
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
        background-color: #4d79ff;
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }

    .Login_btns a {
        border: none;
        padding: 10px;
        font-size: 20px;
        background-color: yellowgreen;
        color: white;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        border-radius: 5px;
    }

/*Login Forget*/
.Login_Forget {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

    .Login_Forget a {
        text-align: center;
    }
