/*Profile User*/

.Profile_User {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin:100px auto 200px;
    width: 450px;
    text-decoration: none;
    border-radius: 10px;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
}

    .Profile_User h3 {
        background-color: #d1d9e6;
        cursor: default;
        padding: 15px;
        text-align: center;
        font-size: 27px;
    }

/*Profile Extra*/
.ProfileExtra_Btn {
    display:flex;
    align-items:center;
    padding: 25px;
    font-size: 27px;
    height: 80px;
    text-align: left;
    background-color: #f9fafb;
    cursor: pointer;
    border: none;
}

    .ProfileExtra_Btn:hover {
        background-color: #d4d4d4;
    }

/*Perfil Info*/
#Profile_Info {
    display: flex;
    align-items: center;
    gap: 10px;
}

    #Profile_Info img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        object-fit: cover;
    }

    #Profile_Info span {
        color: black;
        font-weight: bold;
        font-size: 27px;
    }

/*OVERLAYER*/

#overlayer {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.Profile_Options {
    display: none;
    flex-direction: column;
    gap: 10px;
    width: 380px;
    max-width: 380px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #f9fafb;
    font-family: 'Arial', sans-serif;
    padding: 10px;
}

    .Profile_Options.OpenProfile {
        display: flex;
    }

#overlayer.OpenProfile {
    display: flex;
}

/*Profile Options Logo*/
.Profile_Options_Logo {
    display: flex;
    align-items: center;
}

    .Profile_Options_Logo label {
        font-size: 25px;
    }

.ProfileExtra_closeBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 10px;
    font-size: 25px;
    margin-left: auto;
    background-color: #4D79FF;
    ;
    cursor: pointer;
    color: white;
    border: none;
}

/*Profile Options Btns*/
.Profile_Options_Btns {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 10px;
}

    .Profile_Options_Btns input {
        padding: 10px;
        font-size: 20px;
        border-radius: 7px;
        border: 1px lightgrey solid;
    }

    .Profile_Options_Btns button {
        padding: 10px;
        font-size: 20px;
        width: 100%;
        border-radius: 7px;
        background-color: #4D79FF;
        cursor: pointer;
        color: white;
        border: none;
    }
