/*Info*/

.UserPage_Info {
    margin: 50px auto 50px auto;
    width: 100%;
    max-width: 1000px;
}

/*UserPage User*/

.UserPage_User {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 150px;
    padding: 25px;
    background-color: #d1d9e6;
    cursor: default;
    font-family: 'Arial', sans-serif;
}

    .UserPage_User img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        object-fit: cover;
    }

    .UserPage_User h3 {
        font-size: 40px;
    }

/*UserPage Links*/

.UserPage_Links {
    display: flex;
    width: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #f9fafb;
}

    .UserPage_Links p {
        text-align: center;
        text-decoration: none;
        text-align: center;
        color: black;
        font-weight: bold;
        cursor: pointer;
        width: 150px;
        padding: 10px;
    }

/*POSTAGEM*/
.UserPage_Post {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 300px;
    font-family: 'Arial', sans-serif;
}

.Post_Card {
    text-decoration: none;
    cursor: pointer;
    transform: transform 0.09s ease;
}

    .Post_Card:hover {
        transform: scale(1.07);
        background-color: rgba(0, 0, 0, 0.05);
        outline: 10px solid rgba(0, 0, 0, 0.05);
        border-radius: 5px;
    }

/*Postagem Props*/
.Text_Info {
    display: flex;
    flex-direction: column;
}

    .Text_Info h3 {
        font-size: 25px;
        color: black;
        word-break: break-all;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }

    .Text_Info p {
        font-size: 20px;
        color: gray;
        word-break: break-all;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }

.Img_Info {
    display: flex;
    height: 200px;
    width: 100%;
}

    .Img_Info img {
        height: 100%;
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
    }

.UserPage_Descrition {
    display: none;
    flex-direction: column;
    margin-bottom: 300px;
    gap: 10px;
    padding: 20px;
    font-family: 'Arial', sans-serif;
}

    .UserPage_Descrition div {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }


/*Responsividade*/
@media (max-width: 1050px) {
    .UserPage_Post {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 30px;
    }

    .Post_Card:hover {
        transform: scale(1.05);
    }
}

@media (max-width: 700px) {
    .UserPage_Post {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin:50px;
    }

    .Post_Card:hover {
        transform: scale(1.05);
    }

    .Text_Info h3 {
        font-size: 20px;
    }

    .Text_Info p {
        font-size: 20px;
    }
}