/*POST*/

.Post_Card {
    display: flex;
    flex-direction: column;    
    width: 100%;
    max-width: 1000px;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Arial', sans-serif;
}

/*user info*/

.User_Info {
    display: flex;
    align-items: center;
    gap: 10px;
}

    .User_Info p {
        color: grey;
        margin-left: auto;
    }

.UserPageInfo {
    display: flex;
    align-items: center;
    gap:10px;
    text-decoration: none;
    margin-bottom:10px;
}

    .UserPageInfo img {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        object-fit:cover;
    }

    .UserPageInfo h3 {
        color: black;
    }

.UserPageInfo:hover {
    border-radius: 30px;
    background-color: rgb(0, 0, 0, 0.030);
    outline: 5px solid rgb(0, 0, 0, 0.030);
    padding-right: 5px;
}

/*user info*/
.more-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    position: relative;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
}

    .more-btn:hover {
        background-color: rgba(0, 0, 0, 0.100);
    }

    .more-btn span {
        background-color: grey;
        width: 6px;
        height: 6px;
        border-radius: 50%;
    }

.hid_menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 34px;
    right: 34px;
    width: 150px;
    background-color: white;
    box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.020);
    z-index: 10;
    border-radius: 5px;
    border-top-right-radius: 0;
    overflow: hidden;
}

    .hid_menu a {
        text-decoration: none;
        color: black;
        padding: 10px;
    }

        .hid_menu a:hover {
            background-color: rgba(0, 0, 0, 0.100);
        }

/*text info*/
.Text_Info {
    display: flex;
    flex-direction: column;
}

    .Text_Info h3 {
        font-size: 30px;
        width: 100%;
        color: black;
        word-break: break-word;
        display: -webkit-box;
    }

    .Text_Info p {
        font-size: 20px;
        width: 100%;
        padding: 10px;
        padding-left: 0;
        color: gray;
        word-break: break-word;
        display: -webkit-box;
    }

/*Img Info*/
.Img_Info {
    display: flex;
    height: 500px;
    width: 100%;
}

    .Img_Info img {
        height: 100%;
        width: 100%;
        border-radius:10px;
        object-fit: cover;
    }
