/*dev*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline:solid 0px red;
}

body, html {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 129%;
}

.center {
    flex: 1;
}