:root {
    --nav: #F9FAFB;
    --cor_primaria: #4D79FF;
    --cor-secundaria: #3561E0;
    --cor-borda-clara: #D1D9E6;
    --cor-fundo: #e7ecf5;
}

/*site*/

nav {
    font-family: "Roboto", sans-serif;
}

/*logo*/

.logo {
    display: flex;
    width: 100%;
    height: 250px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/64/Downtown_Calgary.JPG);
    background-position-y: -250px;
    background-size: cover;
    background-attachment: fixed;
    align-items: flex-end;
}

    .logo a {
        display: flex;
        justify-content: center;
        cursor: alias;
        color: black;
        text-decoration: none;
        background-color: var(--cor-borda-clara);
        box-shadow: 7px 7px rgba(255, 255, 255, 0.900);
        border-radius: 5px;
        padding: 5px;
        width: 315px;
        margin: 20px;
    }

    .logo p {
        font-size: 40px;
        color: black;
    }

/*nav_top*/

.space {
    width: 100%;
    padding: 34px;
    position: fixed;
    z-index: -1000;
}

.space-fixed {
    position: static;
    z-index: 1;
}

.nav_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--nav);
    border-bottom: solid 5px var(--cor-borda-clara);
    width: 100%;
    gap: 20px;
    z-index: 1;
}

.nav_top-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.bnt_link {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    gap: 10px;
}

    .bnt_link a {
        width: 150px;
        padding: 15px;
        text-align: center;
        font-size: 19px;
        color: black;
        text-decoration: none;
    }

        .bnt_link a:hover {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            background-color: var(--cor-fundo);
        }

/*info input*/

.info_input {
    display: flex;
    flex-direction:row;
    margin-left: auto;
    width: 27%;
}

    .info_input form {
        display: flex;
        flex-direction: row;
        height: 39px;
        width: 100%;
    }

    .info_input input {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border: 1px solid var(--cor-borda-clara);
        height:100%;
        width: 100%;
        padding: 10px;
        font-size: 17px;
        outline: none;
    }

    .info_input button {
        width: 70px;
        height:100%;
        border: none;
        cursor: pointer;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: var(--cor_primaria);
    }

    .info_input img {
        height: 20px;
        filter: invert(1);
    }

/*info_update*/

.info_update {
    padding-right: 30px;
}

.info_updatePartial {
    display: flex;
    width: 120px;
}

/*responsividade*/
@media (max-width: 1000px) {
    .space {
        z-index: -1000;
    }

    .space-fixed {
        position: fixed;
    }

    .nav_top-fixed {
        position: static;
    }

    .nav_top {
        flex-direction: column;
        align-items: center;
        padding: 15px 15px;
    }

    .bnt_link {
        margin-left: 0;
        width: 100%;
        gap: 5px;
    }

        .bnt_link a {
            width: 100%;
            padding: 15px;
            font-size: 17px;
            border-radius: 5px;
            background-color: var(--cor-fundo);
            margin-left: 0;
            margin-top: 0;
        }

    /*info input*/

    .info_input {
        display: flex;
        width: 100%;
        margin-left: 0;
    }

        .info_input input {
            width: 100%;
            padding: 10px;
        }

        .info_input button {
            width: 90px;
            font-size: 18px;
        }

    .info_update {
        width: 100%;
        padding: 0;
    }
}