/*POST*/

.Post_CardPartial {
    display: none;
    font-family: 'Arial', sans-serif;
    width: 100%;
    max-width: 600px;
    position: fixed;
    z-index:900;
    top: 5%;
    left: 30%;
    background-color: #F9FAFB;
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}

/*info update*/

.info_updatePartial {
    display: flex;
    height: 39px;
    width: 120px;
}

    .info_updatePartial button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: white;
        width: 100%;
        text-align: center;
        background-color: #4D79FF;
        border: none;
        padding: 8px;
        border-radius: 10px;
        gap: 5px;
        cursor: pointer;
        font-size: 19px;
    }

    .info_updatePartial img {
        height: 20px;
    }

/*Titulo*/
.Titulo {
    display: flex;
    align-items: center;
    background-color: #e7ecf5;
    padding: 10px;
    width: 100%;
}

    .Titulo h3 {
        width: 100%;
        text-align: center;
    }

    .Titulo button {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        font-size: 20px;
        background-color: #4D79FF;
        color: white;
        border: none;
        cursor: pointer;
    }

/*user input*/
.User_InputPartial {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    padding: 0 20px 0;
}

    .User_InputPartial input {
        padding-left: 0;
        color: black;
        padding: 10px;
        background-color: transparent;
        border: none;
        outline: none;
    }

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*img info*/
.Img_InfoPartial {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    height: 400px;
    width: 93%;
    margin: 20px;
}

    .Img_InfoPartial img {
        height: 100%;
        width: 100%;
        border-radius: 5px;
        object-fit: cover;
    }

    .Img_InfoPartial button {
        height: 35px;
        width: 35px;
        margin: 10px;
        border-radius: 50%;
        font-size: 20px;
        position: absolute;
        border: none;
        cursor: pointer;
    }

/*Img Upload*/
.Img_UploadPartial {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    height: 400px;
    width: 93%;
    margin: 20px;
}

    .Img_UploadPartial input {
        height: 100%;
        width: 100%;
        opacity: 0;
        z-index: 2;
        cursor: pointer;
    }

.Img_Text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e6e6e6;
    border-radius: 5px;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

    .Img_Text p {
        font-size: 25px;
    }

    .Img_Text span {
        background-image: url(https://cdn-icons-png.flaticon.com/512/1091/1091916.png);
        background-size: 40px;
        background-position: center;
        background-repeat: no-repeat;
        background-color: whitesmoke;
        height: 55px;
        width: 55px;
        border-radius: 50%;
    }

.Bnt_Send {
    width: 100%;
    padding: 0px 20px 20px;
}

    .Bnt_Send button {
        width: 100%;
        padding: 10px;
        font-size: 20px;
        border-radius: 5px;
        background-color: #4D79FF;
        color: white;
        border: none;
        cursor: pointer;
    }


/*responsividade*/
@media (max-width: 1000px) {
    .info_updatePartial {
        width: 100%;
    }
}